/*.main{
    background-image: url(../img/fondo-para-login.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover ;
    background-repeat: no-repeat;
    z-index: 5;
}*/
body{
    background-image: url(../img/fondo-para-login.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover ;
    background-repeat: no-repeat;
    overflow: hidden;
}
.main-content{
    height: 450px;
    width: 350px;
    background-color: rgba(64, 64, 64, .1);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
h2{
    font-size: 1.8em;
    color: rgb(64, 64, 64,);
    text-align: center;
}
.input-pass{
    border: none;
    border-bottom: 1px solid rgb(64, 64, 64);
}
.imput-name{
    border: none;
    border-bottom: 1px solid rgb(64, 64, 64);
}
.password{
    border: none;
}
input{
    border: none;
    background-color: rgba(64, 64, 64, .4);
}
.remember-pass{
    font-size: 1.5em;
    text-decoration: none;
    color: darkgreen;
}
.submit{
    height: 3em;
    width: 250px;
    margin-top: 1em;
    background-color: rgb(64, 64, 64);
    border-radius: 10%;
    font-size: 20px  ;
   color: white;
}
i{
    display: flex;
    align-items: center;
    justify-content: center;
}