h1 {
    font-family:'Courier New', Courier, monospace;
}
.big-font{
    font-size: 100px;
}
.fuente-negita{
font-weight: bold;
}
.fuente-normal{
    font-weight: 400;
}
.estilo-normal{
    font-style: normal;
}
.estilo-italico{
    font-style:italic;
    font-weight: 900;
    font-size: 32px;
}