h1{
    text-align: center;
}


table{
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1.6em;
}

    
td{
    border: 2px solid rgb(64, 64, 64);
    padding: 0.8em 1.5em;
    text-align: center;
}
.encabezado{
    background-color: royalblue;
}
.ejercicios{
    background-color: yellowgreen;
}
