.ligthboxvacio{
    display: none;
}
.ligthbox{
    background-color:rgba(64, 64, 64, .7);
    height: 100%;
    width: 100%;
    margin: 0 auto;

    z-index: 100;
   /* position: absolute;*/


    position: absolute;
    display: grid;
    grid-template: "aut vcoiz1 vlt    vlt   vlt    vlt   vlt    vlt   vlt    equis de4  et1  " 27px
                   "aut ara    imgpl  imgpl imgpl  imgpl imgpl  imgpl imgpl  imgpl ars  et1 " 450px
                   "aut vcoiz  vcui   vcui  vcui   vcui  vcui   vcui  vcui   vcui  dea  et1  " 27px
                   "aut vcoiz  img1l  empml img2l  emp2l img3l  emp3l img4l  vccel dea  et1  " 90px/
                    1fr 30px   90px   28px  90px   28px  90px   28px  90px   10px  30px 1fr
    ;
}

.imgprincipall{
    grid-area: imgpl;
    height: 450px;
    width: 450px;
    border-radius: 5%;
}
.imagenInvisible{
    display: none;
}
/*flechas*/
.anteriorVisible{
    
    height: 20px;
    width: 20px; 
    margin-top: 215px;
    grid-area: ara;
  
}
.siguienteVisible{
    height: 20px;
    width: 20px; 
    margin-top: 215px;
    transform: rotate(-180deg);
    grid-area: ars;
}




.equis{
    grid-area: equis;
    cursor: pointer;
    float: right;
    height: 30px;
    width: 30px;


}

.img1l{
    grid-area: img1l;
    width: 90px;
    height: 90px;
    border-radius: 5%;
}
.img2l{
    grid-area: img2l;
    width: 90px;
    height: 90px;
    border-radius: 5%;
}
.img3l{
    grid-area: img3l;
    width: 90px;
    height: 90px;
    border-radius: 5%;
}
.img4l{
    grid-area: img4l;
    width: 90px;
    height: 90px;
    border-radius: 5%;
}