*{
    margin: 0;
    padding: 0;
}
.contenido{
    display: grid;
    position: relative;
    
    height: 100%;
    grid-template: "espseg icono  icono nda   p1   nd2   p3   nd3   p4   vlt  vlt  vlt  vlt  vlt  " 58px 
                   "espseg imgp   imgp  imgp  imgp imgp  imgp imgp  vmd  vlt  vlt  vlt  vlt  vlt  " 58px
                   "espseg imgp  imgp imgp  imgp imgp  imgp imgp  vmd  prr1 prr1 prr1 prr1 prr1 " 58px
                   "espseg imgp  imgp imgp  imgp imgp  imgp imgp  vmd  tit  tit  tit  tit  tit  " 58px
                   "espseg imgp  imgp imgp  imgp imgp  imgp imgp  vmd  prr2 prr2 prr2 prr2 prr2 " 80px
                   "espseg imgp  imgp imgp  imgp imgp  imgp imgp  vmd  prec prec prec prec prec " 44px
                   "espseg imgp  imgp imgp  imgp imgp  imgp imgp  vmd  v1   v1   v1   v1   v1   " 58px
                   "espseg imgp  imgp imgp  imgp imgp  imgp imgp  vmd  vcd  vcd  vcd  vcd  vcd  " 58px
                   "espseg vcui  vcui vcui  vcui vcui  vcui vcui  vmd  cla  cla  cla  cla  cla  " 30px
                   "espseg img1  empm img2  emp2 img3  emp3 img4  vmd  mi   cero plu  emp  car  " 40px
                   "espseg img1  empm img2  emp2 img3  emp3 img4  vmd  nel  nel  nel  nel  nel  " 40px
                   "espseg nul   nul  nul   nul  nul   nul  nul   nul  nul  nul  nul  nul  nul  " 120px/
                    40px   80px  33px 80px  33px 80px  33px 80px  50px 50px 50px 50px 33px 250px
    ;

}
.vcd{
    grid-area: vcd;
}
.imgprincipal{
grid-area: imgp;
height: 420px;
width: 420px;
border-radius: 5%;
cursor: pointer;
}
nav img{
    grid-area: icono;
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3{
    grid-area: p3;
}
.p4{
    grid-area: p4;
}
.img1{
    grid-area: img1;
    width: 80px;
    height: 80px;
    border-radius: 5%;
}
.img2{
    grid-area: img2;
    width: 80px;
    height: 80px;
    border-radius: 5%;
}
.img3{
    grid-area: img3;
    width: 80px;
    height: 80px;
    border-radius: 5%;
}
.img4{
    grid-area: img4;
    
    width: 80px;
    height: 80px;
    border-radius: 5%;
}
.prr1{
    grid-area: prr1;
    color: rgb(255, 125, 27);
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenido h1{
    grid-area: tit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prr2{
    grid-area: prr2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.precio{
    grid-area: prec;
    font-weight: 900;
    font-size: 2em;
}
.boton{
    grid-area: mi;
}
.cero{
    grid-area:cero ;
}
.plus{
    grid-area: plu;
}
.carrito{
    grid-area: car;
    background-color:rgb(255, 125, 27);
    color: white;
    border-radius: 5%;
    border-style: none;
    border-color: none;
}