nav{
    display: grid;
    grid-template: "icono   logo    vacio   buscar  cantidad    carrito    user"auto/
                    1fr     1fr     10fr     2fr     1fr         1fr         2fr     ;
}

.sodimacLogo{
    width: 35px;
    height: 30px;
    grid-area: logo;
}

.icono{
    font-size: 30px;
    grid-area: icono;
}
.buscar{
    width: 30px;
    height: 30px;
    grid-area: buscar;
}
.cantidad{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 1.8em;
    grid-area: cantidad;
}
.carrito{
    width: 30px;
    height: 30px;
    grid-area: carrito;
}
.user{
    width: 30px;
    height: 30px; 
    grid-area: user;
}
