*{
    margin: 0;
    padding: 0;
}

.head{
    display: grid;
    width: 100%;
    height: 60px;
    background: rgb(255, 220, 20);
    grid-template: "barraMenu   busqueda    carrito" /
                    1fr         6fr         1fr     ;
}
.barraMenu{
grid-area: barraMenu;
margin: 15px 20px auto 20px;/*aqui hay dudas*/
font-size: 1.3em;
font-weight: 400;
cursor: pointer;
}
#textBuscador{
    grid-area: busqueda;
    background: #fff;
    border: none;
    border-radius: 30px;
    width: 100%;
    margin: 15px auto 0 auto;
    display: block;
    height: 30px;
    outline: none;
    padding-left: 20px;
}
.carritoCompra{
    grid-area: carrito;
}

/* contenidos de busqueda*/
.contenedorAbsoluto{
    display: block;
}
#contenidoPrincipal{
    display: grid;
    border-bottom: 1px solid rgb(48,48,48,.2);
    padding: 20px;
    box-sizing: border-box;
    grid-template:  "img    descripcion"25px
                    "img    precio "    25px
                    "img    year "      25px
                    "img    kilometraje"25px
                    "img    ciudad     "25px/
                     6fr    8fr         ;
    margin-bottom: solid 1px black;
}
.img{
    width: 100%;
    grid-area: img;
    border-bottom: 1px solid rgb(48,48,48,.2);
}
.precio{
    grid-area: precio;
    padding-left: 20px;
}
.year{
    grid-area: year;
    margin-left: 20px;
}
.descripcion{
    grid-area: descripcion;
    margin-left: 20px;
}
.kilometraje{
    grid-area: kilometraje;
    margin-left: 20px;
}
.ciudad{
    grid-area: ciudad;
    margin-left: 20px;

}